/* You can add global styles to this file, and also import other style files */
@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    margin: 0;
    font-family: Roboto, "Helvetica Neue", sans-serif;
    background: #fff;
    color: #0b0b0b;
}

.box {
    box-shadow: #000000 0px 5px 15px;
    padding: 15px;
}

.hideScrollbar::-webkit-scrollbar {
    display: none;
}

.grid {
    display: grid;
    gap: 1rem;
}

.grid-cols-4 {
    grid-template-columns: repeat(4, minmax(0, 1fr));
}

@media (max-width: 1024px) {
    .grid-cols-4 {
        grid-template-columns: repeat(2, minmax(0, 1fr));
    }
}

@media (max-width: 640px) {
    .grid-cols-4 {
        grid-template-columns: repeat(1, minmax(0, 1fr));
    }
}