<div>
  <div>
    <app-main-carousel></app-main-carousel>
  </div>
  <div>
    <app-category></app-category>
  </div>
  <div class="h-14 text-center flex items-center justify-center mt-10">
    <h1 class="text-center uppercase font-bold text-xl">Sản Phẩm Mới Nhất</h1>
  </div>
  <div class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-4 gap-4 px-10">
    <div *ngFor="let product of products" class="col-span-1 p-3">
      <app-product [product]="product"></app-product>
    </div>
  </div>
  <div class="flex items-center justify-center py-10 lg:px-0 sm:px-6 px-4">
    <div class="lg:w-3/5 w-full flex items-center justify-between border-t border-gray-200">
      <div (click)="onPreviousPage()" class="flex items-center pt-3 text-gray-600 hover:text-indigo-700 cursor-pointer">
        <svg width="14" height="8" viewBox="0 0 14 8" fill="none" xmlns="http://www.w3.org/2000/svg">
          <path d="M1.1665 4H12.8332" stroke="currentColor" stroke-width="1.25" stroke-linecap="round"
            stroke-linejoin="round" />
          <path d="M1.1665 4L4.49984 7.33333" stroke="currentColor" stroke-width="1.25" stroke-linecap="round"
            stroke-linejoin="round" />
          <path d="M1.1665 4.00002L4.49984 0.666687" stroke="currentColor" stroke-width="1.25" stroke-linecap="round"
            stroke-linejoin="round" />
        </svg>
        <p class="text-md ml-3 font-medium leading-none">Previous</p>
      </div>
      <div class="sm:flex hidden">
        <p *ngFor="let item of getRange(totalPages)" (click)="onPageChange(item)"
          [ngClass]="{'text-indigo-700 text-xl border-indigo-400 font-bold': item === currentPage+1, 'text-gray-600 hover:text-indigo-700 hover:border-indigo-400': item !== currentPage+1}"
          class="text-md font-medium leading-none cursor-pointer text-gray-600 hover:text-indigo-700 border-t border-transparent hover:border-indigo-400 pt-3 mr-4 px-2">
          {{item}}</p>
      </div>
      <div (click)="onNextPage()" class="flex items-center pt-3 text-gray-600 hover:text-indigo-700 cursor-pointer">
        <p class="text-md font-medium leading-none mr-3">Next</p>
        <svg width="14" height="8" viewBox="0 0 14 8" fill="none" xmlns="http://www.w3.org/2000/svg">
          <path d="M1.1665 4H12.8332" stroke="currentColor" stroke-width="1.25" stroke-linecap="round"
            stroke-linejoin="round" />
          <path d="M9.5 7.33333L12.8333 4" stroke="currentColor" stroke-width="1.25" stroke-linecap="round"
            stroke-linejoin="round" />
          <path d="M9.5 0.666687L12.8333 4.00002" stroke="currentColor" stroke-width="1.25" stroke-linecap="round"
            stroke-linejoin="round" />
        </svg>
      </div>
    </div>
  </div>
  
  <div class="container mx-auto pt-6">
    <div class="w-11/12 xl:w-2/3 lg:w-2/3 md:w-2/3 mx-auto sm:mb-10 mb-8">
        <h3 class="xl:text-3xl md:text-2xl text-xl text-center text-gray-800 font-bold mb-5 pt-4">THƯƠNG HIỆU NỔI BẬT</h3>
    </div>
    <div class="xl:py-10 lg:py-10 md:py-10 sm:py-10 px-15 flex flex-wrap">
        <div class="w-6/12 xl:w-1/4 lg:w-1/4 md:w-1/4 flex justify-center border-gray-200 xl:pb-10 items-center">
            <img src="https://cdn.tuk.dev/assets/adidas-dark.png" alt="" />
        </div>
        <div class="w-6/12 xl:w-1/4 lg:w-1/4 md:w-1/4 flex justify-center border-gray-200 xl:pb-10 items-center">
            <img src="https://cdn.tuk.dev/assets/channel-dark.png" alt="" />
        </div>
        <div class="w-6/12 xl:w-1/4 lg:w-1/4 md:w-1/4 flex justify-center border-gray-200 xl:pb-10 pt-4 items-center">
            <img src="https://cdn.tuk.dev/assets/nike-dark.png" alt="" />
        </div>
        <div class="w-6/12 xl:w-1/4 lg:w-1/4 md:w-1/4 flex justify-center border-gray-200 xl:pb-10 items-center">
            <img src="https://cdn.tuk.dev/assets/adidas-dark.png" alt="" />
        </div>
        <!-- <div class="w-6/12 xl:w-1/4 lg:w-1/4 md:w-1/4 flex justify-center border-gray-200 xl:pb-10 pb-16 items-center">
            <img src="https://cdn.tuk.dev/assets/channel-dark.png" alt="" />
        </div>
        <div class="w-6/12 xl:w-1/4 lg:w-1/4 md:w-1/4 flex justify-center border-gray-200 xl:pb-10 pb-16 pt-4 items-center">
            <img src="https://cdn.tuk.dev/assets/nike-dark.png" alt="" />
        </div>
        <div class="w-6/12 xl:w-1/4 lg:w-1/4 md:w-1/4 flex justify-center border-gray-200 xl:pb-10 pb-16 items-center">
            <img src="https://cdn.tuk.dev/assets/channel-dark.png" alt="" />
        </div>
        <div class="w-6/12 xl:w-1/4 lg:w-1/4 md:w-1/4 flex justify-center border-gray-200 xl:pb-10 pb-16 pt-4 items-center">
            <img src="https://cdn.tuk.dev/assets/nike-dark.png" alt="" />
        </div> -->
    </div>
</div>

</div>